<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
      <br />
      <h1>Clothes that fit, All at once</h1>
      <br />
      <h2>When we first started, we were thready.</h2>
      <br />
      <%= link_to 'See All Bundles', bundles_path, class: 'btn btn-success' %>
      <br /><br />
    </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Men's Side</h3>
    <br />
    <p>Choose from any number of stylish boxes.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Women's Boutique</h3>
    <br />
    <p>Get cute clothes all at once.</p>
  </div>
</div>
